<h1>Welcome <%= @user.first_name %></h1>

<p>User ID: <%= @user.id %></p>
<p>User Name: <%= @user.user_name %></p>
<p>Street Address: <%= @user.street %></p>
<p>State: <%= @user.state %></p>
<p>PO Box: <%= @user.postal_code %></p>
<p>Country: <%= @user.country %></p>
<p>Email: <%= @user.email %></p>

<!-- Need to have edit button to change info -->
<form action="/account/logout" method="get">
  <input type="submit" value="Logout"/>
</form>
